<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
    {% block style %}{% endblock %}
</head>
<body>
    <div id="head_block">
        <div id="site_logo">
            <a href="/"><img src="{{ STATIC_URL }}yatt_logo2.gif" /></a>
        </div>
        <div id="hi_block">
            {% if user.is_authenticated %}
                {% if user.is_staff%}
                    <p><a href="/admin/">Вы вошли как</a> {{user}}.<br/>
                {% else %}
                    <p>Вы вошли как {{user}}.<br/>
                {% endif %}
                <a href="/accounts/logout/">Выйти</a></p>
            {% else %}
                <p>Добро пожаловать, гость.<br/>
                <a href="/accounts/registr/">Зарегестрироваться</a> <a href="/accounts/login/">Войти</a></p>
            {% endif%}
        </div>
    </div>
    <div id="menu_block">
        <div id="menu_head">
            Меню
        </div>
        {%include 'menu.html' %}
    </div>
    <div id="content_block">
        <div id="content_head">
            {% block title_content %}Теперь:{% endblock %}
        </div>
        <div id="content_inner_block">
            {% block content %}<p>Тут должно что-то быть... Щёлкни в менюшку!</p>{% endblock %}
        </div>
    </div>
    <div id="footer_block">
        {% block footer %}
            <p>Thanks for visiting our site.</p>
        {% endblock %}
    </div>
</body>
</html>