<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    <h1><a href="/">Yatt site.</a></h1>
    <br>
    <p>#Будут и менюшки и остальное. Наверное в инклудах. Где-то на этой странице</p>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Thanks for visiting our site.</p>
    {% endblock %}
</body>
</html>