{% extends "base.html" %}

{% block title %}Редактирование{% endblock %}
{% block title_content %}Точно удалить?{% endblock %}

{% block content %}
    {% if rec %}
        <p>Удалить {{rec}}?</p>
        {% if rec_list %}
            <p>И его записи:</p>
            <ul>
            {% for rec in rec_list %}
                <li>{{rec}}</li>
            {% endfor %}
            </ul>            
        {% endif %}
        {% if child_list %}
            <p>Его потомки:</p>
            <ul>
            {% for child in child_list %}
                <li>{{child.project}}</li>
            {% endfor %}
            </ul>            
        {% endif %}
        <form action="" method="post">
        {% csrf_token %}
            {% if child_list %}
                <input type="checkbox" name="del_child" id="del_child" value=1/>
                <label for="del_child">Удалить и проекты потомки.</label>
                <br/>
            {% endif %}
            <input type="hidden" name="i_sure" value="Yes"/>
            <input type="submit" value="Удалить" />
            <button formaction="/">Отмена</button>
        </form>
    {% else %}
        <p>Нет такой записи для вас</p>
    {% endif %}
{% endblock %}