{% extends "base.html" %}

{% block title %}Редактирование{% endblock %}
{% block title_content %}Давай что-нибудь измененим{% endblock %}

{% block content %}
    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error}}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    {% if rec %}
        <form action="" method="post">
        {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" />
        </form> 
    {% else %}
        <p>Нет такой записи для вас</p>
    {% endif %}
{% endblock %}