{% extends "base.html" %}

{% block title %}О проекте "{{ project.name }}"{% endblock %}
{% block title_content %}Рассмотрим мы проект{% endblock %}

{% block content %}
    Вы в смотрите инфу о проекте "{{project.name}}"<br>
    <a href="/tracking/project/{{project.id}}">Отредактировать проект</a> <br>
    Его родитель:
    {% if project.parent %}
        <p> <a href='/tracking/{{project.parent.id}}'>{{project.parent}}</a></p>
    {% else%}
        <p>Сирота...</p>
    {% endif %}
    Его дети:
    {% for child in project.project_set.all %}
        <p> <a href='/tracking/{{child.id}}'>{{child}}</a></p>
    {% empty%}
        <p>Нет деток...</p>
    {% endfor %}
    Его записи:
    {% for record in project.record_set.all %}
        <p><a href="/tracking/record/{{record.id}}">{{record.project}} | {{record.start_time}} | {{record.duration}}</a></p>
    {% empty%}
        <p>Нет записей...</p>
    {% endfor %}
{% endblock %}