{% extends "base.html" %}

{% block title %}О проекте "{{ project.name }}"{% endblock %}
{% block title_content %}Рассмотрим мы проект{% endblock %}

{% block content %}
    Вы в смотрите инфу о проекте "{{project.name}}"<br>
    <a href="/tracking/project/{{project.id}}">Отредактировать проект</a> <br>
    <p>Его описание: <br/>
    {% if project.description %}
        {{project.description}}</p>
    {% else %}
        Описание не заполнено.</p>
    {% endif %}
    <p> Его родитель: <br/>
    {% if project.parent %}
        <a href='/tracking/{{project.parent.id}}'>{{project.parent}}</a></p>
    {% else %}
        Сирота...</p>
    {% endif %}
    <p>Его дети:</p>
    {% for child in project.project_set.all %}
        <p><a href='/tracking/{{child.id}}'>{{child}}</a></p>
    {% empty %}
        <p>Нет деток...</p>
    {% endfor %}
    <p>Его записи:</p>
    {% for record in project.record_set.all %}
        <p><a href="/tracking/record/{{record.id}}">{{record.project}} | {{record.start_time}} | {{record.duration}}</a></p>
    {% empty %}
        <p>Нет записей...</p>
    {% endfor %}
{% endblock %}